site_name: Monivus.HealthChecks
repo_url: https://github.com/monivus-cloud/Monivus.HealthChecks
theme:
  name: material
  logo: monivus-icon.png
  favicon: monivus-icon.png
  language: en
  icon:
    repo: fontawesome/brands/git-alt
  palette: 
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - search.share
    - search.suggest
markdown_extensions:
    - def_list
    - pymdownx.tasklist:
        custom_checkbox: true
    - admonition
    - pymdownx.highlight:
        anchor_linenums: true
        line_spans: __span
        pygments_lang_class: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences:
        custom_fences:
            - name: mermaid
              class: mermaid
              format: !!python/name:pymdownx.superfences.fence_code_format
    - attr_list
    - pymdownx.tabbed:
        alternate_style: true
    - attr_list
    - md_in_html
    - pymdownx.emoji:
        emoji_index: !!python/name:material.extensions.emoji.twemoji
        emoji_generator: !!python/name:material.extensions.emoji.to_svg
    - toc:
        permalink: true    
nav:
  - Home: index.md
  - Health Checks:
      - Hangfire: health-checks/hangfire.md
      - MySQL: health-checks/mysql.md
      - Oracle: health-checks/oracle.md
      - PostgreSQL: health-checks/postgresql.md
      - Redis: health-checks/redis.md
      - SQL Server: health-checks/sqlserver.md  
      - System: health-checks/system.md
      - URL: health-checks/url.md
  - Exporter: exporter.md
extra:
  analytics:
    provider: google
    property: G-MJXFWGYW42
